
:root{
  --turn_x--: #FF2E36;
  --turn_o--: #08D9D9;
}
*{
  color: white;
  font-family: sans-serif;
  transition: 0.2s ease-in-out;
  user-select: none;
}

.align{
  display: flex;
  justify-content: center;
  align-items: center;
}

body{
  background-color: #252A34;
  margin: 0;
  padding: 0;
  width: 100vw;
  text-align: center;
  padding-top: 5vh;
}

.turn-container{
  width: 10.63rem;
  height: 5rem;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  position: relative;
}

.turn-container h3{
  margin: 0;
  grid-column-start: 1;
  grid-column-end: 3;
}

.turn-container .turn-box{
  border: 3px solid #000;
  font-size: 1.6rem;
  font-weight: 700;
}

.turn-container .turn-box:nth-child(even){
  border-right: none;
}

/* Color player */
  .bc{
    position: absolute;
    bottom: 0;
    margin: 0;
    padding: 0;
    width: 5.31rem;
    height: 2.5rem;
    background-color: #ff2e36;
    z-index: -10;
  }

/* Board Container */
  .main-grid{
    display:grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3,1fr);
    height: 20rem;
    width: 20rem;
    margin: 30px auto;
    border: 2px solid #000;
  }

/* Boxes */
  .box{
    cursor: pointer;
    font-size: 2rem;
    font-weight: 700;
    border:  2px solid #000;
  }

    /* .box:hover{
      background-color: var(--turn_x--);
    } */
     /*? HoverFor player X */
    .box:hover[data-player="X"] {
      background-color: var(--turn_x--);
      color: #000;
    }
    
    /*? Hover For player O */
    .box:hover[data-player="O"] {
      background-color: var(--turn_o--);
      color: #000;
    }

/* Button 'Play Again' */
  #play-again{
    background-color: var(--turn_x--);
    padding: 10px 25px;
    border: none;
    font-size: 1.2rem;
    border-radius: 5px;
    cursor: pointer;
    display: none;
  }

    #play-again:hover{
      padding: 10px 40px;
      background-color: #08D9D9;
      color: #000;
    }


/*! Media Queries */
@media (max-width: 480px){
  .turn-container{
    width: 7.97rem;
    height: 3.75rem;
  }
  .bc{
    width: 4rem;
    height: 2rem;
  }

  .main-grid {
    height: 15rem;
    width: 15rem;
  }
}